*{
    margin:0;
    padding:0;
    border: 0px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid;
    background-color: black;
    font-size: 0;
}
.quadrant {
    width: 230px;
    height: 230px;
    display: inline-block;
    border: 10px solid;
}
#top-l {
    border-top-left-radius: 100%;
    background-color: green;
}
#top-r {
    border-top-right-radius: 100%;
    background-color: red;
}
#bot-l {
    border-bottom-left-radius: 100%;
    background-color: yellow;
}
#bot-r {
    border-bottom-right-radius: 100%;
    background-color: blue;
}
#panel {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 20px solid;
    background-color: orange;
    text-align: center;
}
#middle-row {
    font-size: 0;
}
#trademark {
    font-size: 50px;
    margin: 20px;
}
.superscript {
    font-size: 50%;
    vertical-align: super;
}
.label {
    font-size: 16px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.column {
    height: 70px;
    width : 60px;
    text-align: center;
    border: 1px solid;
    display: inline-block;
    position: absolute;
}
#count-column {
    transform: translateX(-170%);
}
#led {
    width: 60px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
}
#start-column {
    transform: translateX(-50%);
}
.round-button {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: pink;
}
#strict-column {
    transform: translateX(70%);
}
.mode-led {
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    transform: translateY(-20%);
}
